// Import Google fonts
@font-face {
  font-family: 'marigold';
  src: url("MarigoldSans.otf") format('truetype');
}

@font-face {
  font-family: 'marigold_two';
  letter-spacing: 2px;
  src: url("MARIGOLD.otf") format('truetype');
}
// Define fonts for body and headers
$body-font: 'marigold_two';
$headers-font: 'marigold_two';

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
