.art-photo {
  width: 25vw;
  height: auto;
  margin: 0 8px 0 8px;
}

@media only screen and (min-width:279px) and (max-width:900px) {
  .art-photo {
    width: 90vw;
    height: auto;
    margin: 1em 0 5px 0;
  }

  .marge {
    margin-bottom: 2em;
  }

}
