.all-carousel {
  display: flex;
  justify-content: center;
  margin-bottom: 153px;
}

.title-evenement {
  margin: 182px 0 0 0;
  text-align: center;
  line-height: 0;
}

.text-evenement {
  padding: 5em;
  text-align: center;
}

.w-100 {
  height: 534px;
  object-fit: contain;
  background: #4B515D;
}

.carousel {
  width: 60%;
  height: 499px;
}

.frame {
  border: 1.1px solid #4B515D;
  padding: 6px;
}

@media only screen and (min-width:279px) and (max-width:900px) {
  .title-evenement {
    margin: 91px 0 0 0;
  }

  .text-evenement {
    padding: 4em 1em 0 1em;
  }

  .carousel {
    width: 90%;
    height: 505px;
  }

  .frame {
    padding: 0;
  }

  .all-carousel {
    margin-bottom: 45px;
  }
}
