* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  background-color: #4B515D;
}

#scale-logo {
  display: block;
  width: 98.8vw;
  height: 100vh;
  background-color: #4B515D;
  transition: all 5ms linear;
  z-index: 100;
}

.play {
  display: none;
}

.scaled-logo {
  width: 23px;
  height: 23px;
  animation: scale 2750ms ease-in forwards;
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-logo {
  width: 155px;
  height: 155px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes scale {
  to {
    transform: scale(7.0);
  }
}

.home-page {
  width: 98.8vw;
  height: 100vh;
  background-image: url("background-home.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.visuallyhidden {
  animation: fadeout ease-out 850ms forwards;
  -webkit-animation: fadeout ease-out 850ms forwards;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout ease-out 850ms forwards;
  /* Firefox < 16 */
  -ms-animation: fadeout ease-out 850ms forwards;
  /* Internet Explorer */
  -o-animation: fadeout ease-out 850ms forwards;
  /* Opera < 12.1 */
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.visuallyshow {
  display: inline-block;
  text-align: center;
  line-height: 100vh;
  animation: fadein ease-in 850ms forwards;
  -webkit-animation: fadein ease-in 850ms forwards;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein ease-in 850ms forwards;
  /* Firefox < 16 */
  -ms-animation: fadein ease-in 850ms forwards;
  /* Internet Explorer */
  -o-animation: fadein ease-in 850ms forwards;
  /* Opera < 12.1 */
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.concept-photo {
  height: auto;
  width: 400px;
}

.concept-part, .parcours-part, .photo-parcours {
  display: flex;
  justify-content: center;
}

.parcours-part {
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.parcours-photo, .p-parcours {
  height: auto;
  width: 50vw;
}

.parcours-photo {
 margin-bottom: 71px;
}

.concept-title, .parcours-title {
  text-align: center;
  padding: 6rem;
  margin: 0;
}

.p-concept {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  text-align: center;
  flex-direction: column;
}

.p-parcours,
.p-concept {
  text-align: center;
}

.home-text {
  margin-bottom: 15px;
}

.p-concept {
  margin-left: 71px;
}

@media only screen and (min-width:279px) and (max-width:900px) {

  .home-page {
    width: 100vw;
    background-size: 100vh;
    background-position: 37% 0%;
  }

  .concept-title, .parcours-title {
    padding: 4rem 3rem;
    width: 100vw;
  }

  .concept-part {
    flex-direction: column;
  }

  .parcours-part, .concept-part {
    align-items: center;
    width: 100vw;
  }

  .p-concept, .p-parcours {
    width: 80vw;
    margin: 4rem 0 0 0;
  }

  #scale-logo {
    width: 100vw;
  }

  .scaled-logo {
    width: 19px;
    height: 19px;
  }

  .fixed-logo {
    width: 129px;
    height: 129px;
  }

  .center_menu {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .facebook {
    height: 37px;
    margin-bottom: 9px;
  }

  .insta {
    height: 37px;
  }

  .logo {
    margin-right: 19px;
  }

  .language_link {
    margin-top: 1rem;
    padding: unset;
  }

  .p-footer {
    font-size: small;
  }

  .home-page {
    background-image: url("background-home-tel.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .parcours-photo, .concept-photo {
    height: auto;
    width: 100vw;
    margin-bottom: unset;
  }

}


@media only screen and (min-width:279px) and (max-width:1420px) {

  body {
    width: 100vw;
  }

  .background {
    height: unset;
  }

  .icon {
    top: 8px;
    right: 21px;
  }

  .open-menu-on-pages {
    right: 0;
  }

  .optionshome {
    flex-direction: column;
    top: 0;
    height: 319px;
    text-align: center;
    width: 100vw;
    background-color: #962e50;
  }

  .open {
    right: 0;
  }

  .parcours-part {
    margin-bottom: 55px;
  }
}
