.card {
  height: 562px;
  width: 372.4px;
  position: relative;
  background-color: transparent;
  border: none;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-container, .card-container-two {
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  position: relative;
  height: 562px;
  width: 372.4px;
  border: 1px solid #4B515D;
}

.card-container-two {
  position: relative;
  bottom: 33rem;
}

.frame-shooting {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transform-origin: center center;
  -webkit-transform-origin: center center;
}

.card .front {
  background: #E8E9F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

.card .back {
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.white {
  color: white;
}

.grey {
  color: #4B515D;
}

.shooting-name {
  padding: 4rem;
  font-size: xx-large;
}

.shooting {
  padding: 34px;
}

.shooting-text {
  padding: 47px;
  text-align: center;
}

.align {
  text-align: center;
}

.flip {
  transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  visibility: unset;
}


.scaled-button {
  -webkit-animation: button 1600ms linear infinite alternate;
  animation: button 1600ms linear infinite alternate;
  position: absolute;
  border: none;
  bottom: 4rem;
  border-radius: 7%;
  background-color: #949fb45e;
  font-size: xx-small;
  color: white;
  font-style: italic;
  font-family: 'marigold_one';
  letter-spacing: 0.6px;
  padding: 4.2px 6px 3.2px 6px;
  border: 1px solid rgb(230, 230, 230);
}

@keyframes button {
  0% {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
    }

    100% {
      transform: scale(2.0);
      -webkit-transform: scale(2.0);
    }
}

.pic-cont {
  height: 562px;
  width: 372.4px;
}

.performance-pic {
  object-fit: contain;
  height: 562px;
  position: absolute;
}

.seen-one {
  z-index: 100;
}

.visibility {
 visibility: hidden;
 transition: 1s ease-in-out;
 -webkit-transition: 1s ease-in-out;
 -moz-transition: 1s ease-in-out;
 -o-transition: 1s ease-in-out;
}

.picture-one {
  visibility: unset;
  transform: translate(30em, 0);
  -webkit-transform: translate(30em, 0);
  -moz-transform: translate(30em, 0);
  -o-transform: translate(30em, 0);
  -ms-transform: translate(30em, 0);
}

.picture-two-close {
  transform: translate(-15em, 0);
  -webkit-transform: translate(-15em, 0);
  -moz-transform: translate(-15em, 0);
  -o-transform: translate(-15em, 0);
  -ms-transform: translate(-15em, 0);
}

.picture-two {
  visibility: unset;
  transform: translate(-30em, 0);
  -webkit-transform: translate(-30em, 0);
  -moz-transform: translate(-30em, 0);
  -o-transform: translate(-30em, 0);
  -ms-transform: translate(-30em, 0);
}

.picture-three {
  visibility: unset;
  transform: translate(-14.5em, 41em);
  -webkit-transform: translate(-14.5em, 41em);
  -moz-transform: translate(-14.5em, 41em);
  -o-transform: translate(-14.5em, 41em);
  -ms-transform: translate(-14.5em, 41em);
}

.back-but {
  visibility: hidden;
  bottom: -3rem;
  left: 43%;
}

.card-up-down {
  transform: translate(0, 79rem);
  -webkit-transform: translate(0, 79rem);
  -moz-transform: translate(0, 79rem);
  -o-transform: translate(0, 79rem);
  -ms-transform: translate(0, 79rem);

}

.front-but {
  backface-visibility: unset;
  -moz-backface-visibility: unset;
}

.title-performance {
  margin: 182px 0 0 0;
  text-align: center;
  line-height: 0;
}

.text-performance {
  padding: 5em;
  text-align: center;
}
