.page-performance {
  overflow: overlay;
}

.allframe {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 26px;
  justify-content: center;
}

.card {
  height: 555px;
  width: 364.3px;
  position: relative;
  top: 0rem;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-container {
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  position: relative;
  height: 562px;
  width: 372.4px;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transform-origin: center center;
  -webkit-transform-origin: center center;
}

.card .front {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

.card .back {
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.white {
  color: white;
}

.grey {
  color: black;
}

.shooting-name {
  padding: 1rem;
  font-size: larger;
  cursor: pointer;
  font-weight: 600;
}

.shooting-text {
  text-align: center;
}

.align {
  text-align: center;
}

.flip {
  transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  visibility: unset;
}


.scaled-button {
  -webkit-animation: button 1600ms linear infinite alternate;
  animation: button 1600ms linear infinite alternate;
  position: absolute;
  cursor: pointer;
  border: none;
  bottom: 4rem;
  border-radius: 7%;
  background-color: #949fb45e;
  font-size: xx-small;
  color: white;
  font-style: italic;
  font-family: 'marigold_one';
  letter-spacing: 0.6px;
  padding: 4.2px 6px 3.2px 6px;
  border: 1px solid rgb(230, 230, 230);
}

@keyframes button {
  0% {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
    }

    100% {
      transform: scale(2.0);
      -webkit-transform: scale(2.0);
    }
}

.pic-cont {
  height: 562px;
  width: 372.4px;
}

.performance-pic {
  object-fit: contain;
  height: 562px;
  position: absolute;
}

.seen-one {
  z-index: 100;
}

.visibility {
 visibility: hidden;
 transition: 1s ease-in-out;
 -webkit-transition: 1s ease-in-out;
 -moz-transition: 1s ease-in-out;
 -o-transition: 1s ease-in-out;
}

.picture-to-right {
  visibility: unset;
  transform: translate(30em, 0);
  -webkit-transform: translate(30em, 0);
  -moz-transform: translate(30em, 0);
  -o-transform: translate(30em, 0);
  -ms-transform: translate(30em, 0);
}

.picture-to-left {
  visibility: unset;
  transform: translate(-30em, 0);
  -webkit-transform: translate(-30em, 0);
  -moz-transform: translate(-30em, 0);
  -o-transform: translate(-30em, 0);
  -ms-transform: translate(-30em, 0);
}

.picture-to-down {
  visibility: unset;
  transform: translate(-14.5em, 41em);
  -webkit-transform: translate(-14.5em, 41em);
  -moz-transform: translate(-14.5em, 41em);
  -o-transform: translate(-14.5em, 41em);
  -ms-transform: translate(-14.5em, 41em);
}

.picture-big-to-downer {
  visibility: unset;
  transform: translate(0em, 80em);
  -webkit-transform: translate(0em, 80em);
  -moz-transform: translate(0em, 80em);
  -o-transform: translate(0em, 80em);
  -ms-transform: translate(0em, 80em);
}

.picture-to-down-left {
  visibility: unset;
  transform: translate(-14em, 80em);
  -webkit-transform: translate(-14em, 80em);
  -moz-transform: translate(-14em, 80em);
  -o-transform: translate(-14em, 80em);
  -ms-transform: translate(-14em, 80em);
}

.picture-to-down-right {
  visibility: unset;
  transform: translate(14em, 80em);
  -webkit-transform: translate(14em, 80em);
  -moz-transform: translate(14em, 80em);
  -o-transform: translate(14em, 80em);
  -ms-transform: translate(14em, 80em);
}

.picture-to-down-downer {
  visibility: unset;
  transform: translate(-14.5em, 119em);
  -webkit-transform: translate(-14.5em, 119em);
  -moz-transform: translate(-14.5em, 119em);
  -o-transform: translate(-14.5em, 119em);
  -ms-transform: translate(-14.5em, 119em);
}


.picture-to-left-big {
  visibility: unset;
  transform: translate(-27em, 0);
  -webkit-transform: translate(-27em, 0);
  -moz-transform: translate(-27em, 0);
  -o-transform: translate(-27em, 0);
  -ms-transform: translate(-27em, 0);
}
.back-but {
  visibility: hidden;
  bottom: -3.6rem;
  left: 43%;
}

.card-menu-down {
  visibility: hidden;
}

.index {
  z-index: 200;
}

.front-but {
  backface-visibility: unset;
  -moz-backface-visibility: unset;
}

.title-performance {
  margin: 182px 0 0 0;
  text-align: center;
  line-height: 0;
}

.text-performance {
  padding: 5em;
  text-align: center;
}

.card-one {
  background-image: url(Sauvage-1.jpg);
  background-repeat: no-repeat;
  background-size: 361.3px 553px;
}

.card-two {
  background-image: url(Dia-de-los-muertos-1.jpg);
  background-repeat: no-repeat;
  background-size: 361.3px 553px;
}

.card-three {
  background-image: url(Couronne-Slave-2.jpg);
  background-repeat: no-repeat;
  background-size: 361.3px 553px;
}

.svitlana-text {
  padding: 0 1em;
}

.card-four {
  background-image: url(La-mariée-de-Kyoto-1.jpg);
  background-repeat: no-repeat;
  background-size: 361.3px 553px;
}

.card-five {
  background-image: url(Shoot-Floral-1.jpg);
  background-repeat: no-repeat;
  background-size: 361.3px 553px;
}

.card-six {
  background-image: url(Amazone-1.jpg);
  background-repeat: no-repeat;
  background-size: 361.3px 553px;
}

.card-seven {
  background-image: url(Didi-Disco-1.jpg);
  background-repeat: no-repeat;
  background-size: 361.3px 553px;
}

.card-eight {
  background-image: url(La-fille-de-l-étang-1.jpg);
  background-repeat: no-repeat;
  background-size: 361.3px 553px;
}

.card-nine {
  background-image: url(Aurus-1.jpg);
  background-repeat: no-repeat;
  background-size: 361.3px 553px;
}

.card-ten {
  background-image: url(Bijoux-du-monde-4.jpg);
  background-repeat: no-repeat;
  background-size: 361.3px 553px;
}

.card-eleven {
  background-image: url(Super-Lily-1.jpg);
  background-repeat: no-repeat;
  background-size: 361.3px 553px;
}
