<div class="footer">
  <div class="logo">
    <a href="https://www.facebook.com/AliciaBussereauScenographeVegetale" target="_blank">
      <%= image_tag "icons8-facebook.png", class: "facebook" %>
    </a>
    <a href="https://www.instagram.com/aliciabussereaufleuriste/" target="_blank">
      <%= image_tag "icons8-instagram.png", class: "insta" %>
    </a>
  </div>
  <div class="contact-footer">
    <div class="p-footer">
      <p> Adresse: 2 rue des Saulniers, 49 080 Bouchemaine , La Pointe </p>
      <a href="tel:+33 6 13 71 51 86">Tel: 06 13 71 51 86 </a>
      <a href="mailto:contact@alicia-bussereau.com">mail: contact@alicia-bussereau.com </a>
    </div>
  </div>
</div>
