<h1 class="title-evenement white"> Concours </h1>
<p class="text-evenement white"> Médaillée d'argent en octobre 2021. C'est ma première participation à un concours National, la "coupe Oasis" qui se tient lors du salon Nova fleur à Tours.
Merci à Marc Puren, pour ses conseils en or. </p>
<div class="pic-concours">
  <%= image_tag "concours-1.jpg", class: "concours-photo" %>
  <%= image_tag "concours-2.jpg", class: "concours-photo" %>
</div>
