<h1 class="title-evenement white"> Cours d'art floral </h1>
<p class="text-evenement white marge"> C'est à mon établis, que vous pourrez vous installer pour créer et imaginer une pièce d'art floral.
Je vous mets à disposition mes outils, mon matériel de décoration et des fleurs fraîchement sélectionnées pour réaliser la ou les pièces convenues ensemble. Pendant 1h30, je vous guiderai tout en vous transmettant mon expérience pour votre réalisation.
Les cours d'art floral se font seul ou à deux.
Renseignements par mail ou par téléphone. </p>
<div class="pic-art">
  <%= image_tag "art-2.jpg", class: "art-photo" %>
  <%= image_tag "art-1.jpg", class: "art-photo" %>
  <%= image_tag "art-3.jpg", class: "art-photo" %>
</div>
