<h1 class="title-evenement white"> Cours d'art floral </h1>
<div class="text-evenement white marge">
  <p>C'est à mon plan de travail, avec mon matériel, que je vous guiderai selon le thème qui vous tient à coeur pour créer votre composition. Seule ou à deux maximum, nous verrons ensemble, avant le cours, le thème que vous désirez aborder.</p>
  <p>Que vous soyez débutant ou confirmé, je me ferais un plaisir de vous apprendre différentes techniques dans une atmosphère chaleureuse et créative.</p>
  <p>Pour vous, je sélectionnerai délicatement les fleurs qui seront le plus adaptées à votre demande.
Au bout d'environ une heure trente, pour pourrez repartir avec votre création que vous aurez élaborée de A à Z. </p>
  <p>Les cours se réservent par téléphone directement.</p>
</div>
<div class="all-carousel">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner frame">
      <div class="carousel-item active">
        <%= image_tag "art-3.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "art-2.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "art-1.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "art-4.jpg", class: "d-block w-100" %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
