  <div id="scale-logo" data-navbar-target="tophome">
    <%= image_tag "logo-blanc.png", class: "scaled-logo" %>
  </div>
  <div class="home-page play" data-navbar-target="bottomhome">
    <%= image_tag "logo-blanc.png", class: "fixed-logo" %>
  </div>
</div>
<h2 class="concept-title"> Mon concept </h2>
<div class="concept-part">
  <%= image_tag "fauteuil-emannuelle.jpg", class: "concept-photo" %>
  <div class="p-concept">
    <p> Mon concept
Alicia Bussereau Scénographe Végétale, c'est un regard nouveau et unique autour de l'art floral. Je vous accueille dans mon atelier sur les bords de Loire, près d'Angers, pour mettre en place vos projets floraux des plus simples aux plus fous : entre performances artistiques, mariages, devantures de boutiques, mur en végétaux artificiels ou simple commande de fleurs...
Pour vous, je réaliserai des créations sur mesures avec des pièces délicatement sélectionnées pour toujours privilégier la fraîcheur et la qualité de mon travail.
    </p>
  </div>
</div>
<h2 class="parcours-title"> Mon parcours </h2>
<div class="parcours-part">
  <div class="p-parcours">
    <p> Mon parcours
Passionnée depuis toute petite et après avoir obtenu mon C.A.P et B.P fleuriste, c'est sur l'île de la Réunion que je m'envole.
Là bas, je suis chef d'atelier en évènementiel pendant huit ans et je découvre l'art de mettre en scène mes créations florales. Après ces années passées sur cette île intense, à m'inspirer de sa flore unique, je décide de rentrer en Anjou et d'y créer mon activité.
Alicia Bussereau Scénographe végétale voit le jour en octobre 2020. Très vite, je travaille en tant que fleuriste free lance à travers la France, entre boutiques traditionnelles et prestations en événementiel haut de gamme sur Paris. En parallèle, je me sélectionne au concours national Oasis en 2021, auquel j'obtiens la médaille d'argent. J'ouvre, alors, mon atelier dans mon petit village ligérien, en avril 2022, à La Pointe tout près d'Angers. Ici, je vous reçois sur rendez vous pour mettre en place vos différents fleurissements: de la simple commande de fleurs aux mariages, grands décors, shootings, performances artistiques florales etc...
    </p>
  </div>
  <div class="photo-parcours">
    <div class="parcours-photo"></div>
  </div>
</div>
