  <div id="scale-logo" data-navbar-target="tophome">
    <%= image_tag "logo-blanc.png", class: "scaled-logo" %>
  </div>
  <div class="home-page play" data-navbar-target="bottomhome">
    <%= image_tag "logo-blanc.png", class: "fixed-logo" %>
  </div>
</div>
