<h1 class="title-performance"> Performances </h1>
<p class="text-performance"> C'est sur l'île de la Réunion, en avril 2019 que je réalise mon premier shooting d'art floral. Poussée par mon ami Ghjuliu Mattei, photographe, nous réalisons ensemble, notre première collaboration. Je voulais mettre en scène une femme plongée dans cette faune incroyable pour mettre mes créations en avant. Ma satisfaction fut tellement forte que je décide alors de réitérer l'expérience sur des thèmes tous aussi différents les uns que les autres. Pour moi, c'est le moyen le plus fort d'expression en art floral. J'aime créer ces ambiances, réfléchir au moindre détail, mélanger les textures et les couleurs de façon à obtenir un tableau parfait </p>
<div class="card-container">
  <div class="card">
    <div class="front">
      <h6 class="white"> 1er shooting </h6>
      <h6 class="white shooting-name"> "Sauvage" </h6>
      <p class="white"> Avril 2019, île de la Réunion. <br> Crédit photo: Ghjuliu Mattei </p>
    </div>
    <div class="back">
      <div class="pic-cont">
        <%= image_tag "Sauvage-1.jpg", class: "sauvage-one" %>
      </div>
    </div>
  </div>
</div>
