<h1>Nouveau message</h1>

<p>
  <%= @contact.first_name %> vous a envoyé un nouveau message par le formulaire de contact sur <%= link_to "alicia-bussereau.com", "https://alicia-bussereau.com"  %> 
</p>

<p><%= @message.content %></p>
