<h2>accusé de réception - Alicia-bussereau.com</h2>

<div>
  <p>Je vous confirme que votre message est bien arrivé, je reviens vers vous au plus vite</p>
  <p>En attendant, si besoin vous pouvez m'appeler à tout moment au 06 13 71 51 86</p>
</div>

<h3>Résumé de votre message</h3>

<div>
  <p><%= simple_format(@message.content) %></p>
</div>